In [3]:
import kagglehub

path = kagglehub.dataset_download('najir0123/walmart-10k-sales-datasets')

print('Data source import complete.')

Downloading from https://www.kaggle.com/api/v1/datasets/download/najir0123/walmart-10k-sales-datasets?dataset_version_number=1...

100%|████████████████████████████████████████████████████████████████████████████████| 143k/143k [00:00<00:00, 157kB/s]

Extracting files...
Data source import complete.

In [2]:
! pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.11-py3-none-any.whl.metadata (32 kB)
Requirement already satisfied: packaging in c:\users\adeeb\appdata\roaming\python\python312\site-packages (from kagglehub) (24.1)
Requirement already satisfied: pyyaml in c:\users\adeeb\anaconda3\lib\site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in c:\users\adeeb\appdata\roaming\python\python312\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\adeeb\anaconda3\lib\site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\adeeb\appdata\roaming\python\python312\site-packages (from requests->kagglehub) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\adeeb\appdata\roaming\python\python312\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\adeeb\appdata\roaming\python\python312\site-packages (from requests->kagglehub) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\adeeb\appdata\roaming\python\python312\site-packages (from requests->kagglehub) (2024.12.14)
Requirement already satisfied: colorama in c:\users\adeeb\anaconda3\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.11-py3-none-any.whl (63 kB)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.11

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import os
import pandas as pd
csv_file_path = os.path.join(path, 'Walmart.csv')  
df = pd.read_csv(csv_file_path)

In [39]:
df

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,WALM056,Rowlett,Fashion accessories,37.00,3.0,03/08/23,10:10:00,Cash,3.0,0.33,111.00
9996,9997,WALM030,Richardson,Home and lifestyle,58.00,2.0,22/02/21,14:20:00,Cash,7.0,0.48,116.00
9997,9998,WALM050,Victoria,Fashion accessories,52.00,3.0,15/06/23,16:00:00,Credit card,4.0,0.48,156.00
9998,9999,WALM032,Tyler,Home and lifestyle,79.00,2.0,25/02/21,12:25:00,Cash,7.0,0.48,158.00
9999,10000,WALM069,Rockwall,Fashion accessories,62.00,3.0,26/09/20,9:48:00,Cash,3.0,0.33,186.00

### Data Exploration

In [9]:
df.shape

(10051, 11)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [12]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [18]:
df.duplicated().sum()

0

In [15]:
## we have 51 duplicates

In [20]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [17]:
df.drop_duplicates(inplace=True)

In [19]:
df.dropna(inplace=True)

In [21]:
df.shape

(9969, 11)

In [22]:
### Handling unit_price column 
df['unit_price'] = df['unit_price'].str.replace('$','').astype(float)

In [23]:
df.sample(7)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
7399,7400,WALM074,Weslaco,Fashion accessories,32.00,3.0,19/12/20,17:56:00,Credit card,6.0,0.33
8197,8198,WALM055,Waxahachie,Fashion accessories,27.00,1.0,08/12/22,8:33:00,Credit card,7.0,0.33
1724,1725,WALM098,Mineral Wells,Home and lifestyle,39.00,2.0,22/03/23,14:52:00,Ewallet,6.0,0.18
6954,6955,WALM099,Weatherford,Home and lifestyle,58.00,2.0,12/12/23,19:22:00,Credit card,5.0,0.18
1653,1654,WALM100,Canyon,Fashion accessories,65.00,2.0,13/08/23,8:52:00,Ewallet,4.0,0.18
904,905,WALM012,Garland,Health and beauty,58.32,2.0,14/02/19,12:42:00,Ewallet,6.0,0.48
9193,9194,WALM054,Sherman,Fashion accessories,39.00,3.0,19/04/20,7:21:00,Cash,7.0,0.33

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

In [25]:
df['total'] = df['unit_price'] * df['quantity']

In [26]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

### Connecting with Database

In [27]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\adeeb\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\adeeb\appdata\roaming\python\python312\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\adeeb\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [28]:
! pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   --------------------------- ------------ 0.8/1.2 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 3.8 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [29]:
from sqlalchemy import create_engine
import psycopg2

In [30]:
df.to_csv('Walmart_clean_data.csv',index=False)

In [36]:
df.shape

(9969, 12)

In [44]:
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total'],
      dtype='object')

In [43]:
df.columns = df.columns.str.lower()

In [31]:
### Establishing connection

In [45]:
engine_psql = create_engine("postgresql+psycopg2://postgres:admin1234@localhost:5432/Walmart")
try:
    engine_psql
    print("Connection Successfull")
except:
    print("Unable to connect")

Connection Successfull

In [46]:
df.to_sql(name='Walmart',con=engine_psql,if_exists='append',index=False)

969